@import 'variables';

@mixin container() {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max;
  width: $container-width;
}

@mixin uncontainer() {
  width: percentage(100% / $container-width);
  margin-left: percentage((1 - (100% / $container-width)) / 2);
}

@mixin sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin row() {
  display: flex;
  flex-direction: row;
}

@mixin column() {
  display: flex;
  flex-direction: column;
}

@mixin button($style: 'primary') {

  // layout
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px;
  border: 0;
  outline: 0;

  // text
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;

  // colors
  background-color: $primary;
  color: white;
  cursor: pointer;

}

@mixin spacing($amount) {
  h1, h2, h3, h4, h5, h6, p, .button, label, input, img, ul {
    margin-top: $amount;
    margin-bottom: $amount;
  }
}
