@import 'variables';
@import 'mixins';

nav {
  ul {
    list-style-type: none;
  }
}

nav.main {
  @include row;
  justify-content: space-between;
  .links {
    display: none;
  }
  .links.active {
    @include column;
  }
}
