@import 'variables';
@import 'mixins';

nav {
  ul {
    list-style-type: none;
  }
}

nav.main {
  @include row;
  @include container;
  position: relative;
  justify-content: space-between;
  
  .links {
    display: none;
    @include uncontainer;
    background: rgba(0,0,0,.1);
  }
  .links.active {
    @include column;
    position: absolute;
    top: 100%;
  }
  .toggle {
    cursor: pointer;
  }
}
