// colors
$pink:  #ec008a;
$blue:  #2196f3;
$gray:  #878787;
$white: #ffffff;
$lightGray: #ededed;

// palette
$primary:   $pink;
$secondary: $gray;
$text:      $gray;

// layout
$container-width: 95%;
$container-max:   1280px;

// breakpoints
$sm-width: 480px;
$md-width: 768px;
$lg-width: 1024px;
