// colors
$pink:  #ec008a;
$blue:  #2196f3;
$grey:  #242424;
$white: #ffffff;

// palette
$primary:   $pink;
$secondary: $blue;
$text:      $grey;

// layout
$container-max-width: 1280px;
$container-width: 95%;

// breakpoints
$sm-width: 480px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
